DJANGO_DEBUG=False
DJANGO_ALLOW_NULL_ORIGIN_IN_DEBUG=False
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=hr.ytech.local,10.20.30.10
DJANGO_CSRF_TRUSTED_ORIGINS=https://hr.ytech.local
DJANGO_BEHIND_PROXY=True
DJANGO_USE_X_FORWARDED_HOST=True
DJANGO_LOG_LEVEL=INFO
DJANGO_SESSION_COOKIE_AGE=1800

DATABASE_URL=postgresql://hr_app_user:change_me@10.20.40.20:5432/ytech_hr
DATABASE_CONN_MAX_AGE=60
