DJANGO_DEBUG=False
DJANGO_ALLOW_NULL_ORIGIN_IN_DEBUG=False
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,your-server-name-or-ip
DJANGO_CSRF_TRUSTED_ORIGINS=https://your-server-name-or-ip
DJANGO_BEHIND_PROXY=True
DJANGO_USE_X_FORWARDED_HOST=True
DJANGO_LOG_LEVEL=INFO
DJANGO_SESSION_COOKIE_AGE=1800

DATABASE_URL=mariadb://hr_app_user:change_me@127.0.0.1:3306/ytech_hr
DATABASE_CONN_MAX_AGE=60
